#You must link this to your own discord bot, using this token. go to https://discord.com/developers/applications, or look it up
DISCORD_TOKEN=ABCDEFGHIJK12345LLLMDIAfdFDAKJ4534-3.312344879HHJVASDFOOAKLNELAAFADFADFF

#Directory of where your minecraft server(s) is/are. *Multiple servers must be in this same directory*
SERVER_DIR=D:\MinecraftServers

CONFIG_FILE=config.json #Probably shouldn't change
LOG_LOCATION=logs/latest.log #Probably shouldn't change
RUNFILE=autorun.bat #Examples of autorun.bat and run.bat are provided

#This should be the RCON_Password in your servers.properties file in your minecraft folder
RCON_PASSWORD=thisismypassword

#SUPERUSER IDs (Comma separated) - First user will get status DMs from bot if enabled
SUPERUSERS=123412341234123412,432143214321431243

#Status DMs from bot - Debugging
DMS=false