#You must link this to your own discord bot, using this token. go to https://discord.com/developers/applications, or look it up
DISCORD_TOKEN=ABCDEFGHIJK12345LLLMDIAfdFDAKJ4534-3.312344879HHJVASDFOOAKLNELAAFADFADFF

#Directory of where your minecraft server(s) is/are. *Multiple servers must be in this same directory*
SERVER_DIR=D:\MinecraftServers\

# In the top of your run.bat, if one was generated for the modpack, place `cd /d "%~dp0"`, to make sure the batch file is ran from the proper directory.
RUNFILE=run.bat 

#This will automatically set the RCON_Password in your servers.properties file in your minecraft folder
RCON_PASSWORD=thisismypassword

#SUPERUSER IDs (Comma separated) - First user will get status DMs from bot if enabled
SUPERUSERS=123412341234123412,432143214321431243

#Status DMs from bot - Debugging
DMS=false

#Automatically Restart Server *MACHINE* at X hour (24hr format) - Must have AUTORESTART set to true
AUTORESTART=false
AUTORESTART_HOUR=4
ONLY_IF_EMPTY=true #Only restart if no players are online